<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>URL Shortener</title>
        <link rel="icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="home-page">
    <%- include('partials/navbar') %>

        <main>
            <h1>URL Shortener</h1>

            <% if (locals.id) { %>
                <div class="generated-url">
                    URL Generated:
                    <a href="http://localhost:8001/url/<%= id %>" target="_blank">
                        http://localhost:8001/url/<%= id %>
                    </a>
                </div>
                <div class="back-button">
                    <a href="/">⬅️ Go Back to Home Page</a>
                </div>
                <% } %>

                    <form method="POST" action="/url">
                        <label for="url">Enter Your Original URL</label>
                        <input type="text" name="url" id="url" placeholder="https://example.com" required />
                        <button type="submit">Generate</button>
                    </form>

                    <% if (locals.urls) { %>
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Sr. No</th>
                                        <th>Short ID</th>
                                        <th>Redirect</th>
                                        <th>Clicks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% urls.forEach((url, index)=> { %>
                                        <tr>
                                            <td>
                                                <%= index + 1 %>
                                            </td>
                                            <td>
                                                <%= url.shortId %>
                                            </td>
                                            <td><a href="<%= url.redirectURL %>" target="_blank">
                                                    <%= url.redirectURL %>
                                                </a></td>
                                            <td>
                                                <%= url.visitHistory.length %>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                        <% } %>
        </main>
         <%- include('./partials/footer') %>
        <%- include('partials/script') %>
</body>

</html>